body {
  font-family: "Poppins", sans-serif;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
}
/* .rounded {
    border-radius: 10px !important;
} */
ul {
  list-style: none;
}

.max-width {
  max-width: fit-content;
}

.color-code ul li {
  display: inline;
  margin-right: 20px;
  position: relative;
}
.color-code ul li.first-low:before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #0089ff;
  position: absolute;
  left: -12px;
  top: 5px;
}
.color-code ul li.second-low:before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #805f4c;
  position: absolute;
  left: -12px;
  top: 5px;
}
.color-code ul li.third-low:before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #071c75;
  position: absolute;
  left: -12px;
  top: 5px;
}

.first-low-cost {
  background-color: #0089ff;
  color: #fff;
}
.second-low-cost {
  background-color: #805f4c;
  color: #fff;
}
.third-low-cost {
  background-color: #071c75;
  color: #fff;
}
.text-success {
  color: #00976f !important;
}
.text-danger {
  color: #ff0000 !important;
}
.border-success {
  border-color: #00976f !important;
}
.border-info {
  border-color: #0089ff !important;
}
.border-primary {
  border-color: #0089ff  !important;
}
.bg-success,
.badge-success,
.btn-success {
  background-color: #006a4e !important;
}

.btn-primary,
.bg-primary{
  background-color: #0089ff !important;
  border-color: #0089ff !important;
}
.badge-primary {
  background-color: #6FB6F3 !important;
border-color: #6FB6F3 !important;
}
.btn-back {
  background-color: #805f4c !important;
  border-color: #805f4c !important;
}
.btn-action-add {
  background-color: #071c75 !important;
  border-color: #071c75 !important;
}
.bg-info,
.badge-info,
.btn-info {
  background-color: #0089ff !important;
}
.bg-brown,
.badge-brown,
.btn-brown {
  background-color: #805f4c !important;
}
.bg-purple,
.badge-purple,
.btn-purple {
  background-color: #071c75 !important;
}
.badge-pink {
  background-color: #ff8181 !important;
}
.rounded-btn {
  border-radius: 10px;
}
.shadow {
  box-shadow: 0 3px 15px 0 rgba(0, 151, 111, 0.2) !important;
}
.navbar {
  background: #f5f6f8;
  position: fixed;
  z-index: 100;
  left: 332px;
  right: 0;
  padding: 65px 0;
}
.navbar-custom {
  background-color: #fff;
  position: fixed;
  left: 365px;
  top: 30px;
  right: 30px;
  border-radius: 20px;
}
.navbar-custom .topnav-menu .nav-link {
  color: #000;
}
.navbar-custom .app-search .form-control {
  background-color: #f6f9fd;
}

.navbar-custom .app-search .btn {
  background-color: #f6f9fd;
  color: #000;
}
.logo-box {
  background-color: #fff;
  position: fixed;
}
.container-fluid {
  padding-top: 35px;
  padding-left: 0;
}
.notification {
  padding: 13px 20px;
}
.logo span.logo-lg {
  padding: 30px 15px;
}
.logo-box {
  width: 330px;
  height: 130px;
}
.left-side-menu {
  width: 330px;
  top: 130px;
}
.metismenu .menu-title {
  font-size: 20px !important;
}
.notification {
  font-size: 16px !important;
}
.fa-square {
  color: #006a4e;
}
.title .name {
  font-size: 16px !important;
}
/* .navbar-custom {
    left: 370px;
} */
.content-page {
  margin-left: 350px;
}
.metismenu .nav-second-level {
  position: relative;
}
.metismenu .nav-second-level:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 5px;
  background-color: #72beff;
  border-radius: 20px;
  z-index: 1;
  top: 0px;
  left: 33px;
}
.metismenu .nav-second-level:after {
  content: "";
  position: absolute;
  height: 12px;
  width: 5px;
  background-color: #72beff;
  border-radius: 20px;
  z-index: 1;
  bottom: 0px;
  left: 33px;
}
.metismenu .nav-second-level.third-level:before,
.metismenu .nav-second-level.third-level:after {
  left: 18px;
}
.metismenu .nav-second-level li {
  position: relative;
  border-left: 1px solid #000;
}
.metismenu .nav-second-level li:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #000;
  border-radius: 20px;
  top: 15px;
  left: -6px;
}
#sidebar-menu > ul > li > a {
  padding: 0;
  color: #fff;
}
#sidebar-menu > ul > li > a {
  background-color: #00976f !important;
  border: 1px solid #00976f !important;
}
#sidebar-menu > ul > li > a i {
  background-color: #006a4e;
  padding: 15px 0px;
  border-right: 1px solid #006a4e;
  color: #fff;
  height: 45px;
  width: 45px;
}
#sidebar-menu > ul > li > a .menu-arrow {
  padding: 10px 0;
}
#sidebar-menu > ul > li:hover {
  border-color: #6fb6f3 !important;
}

#sidebar-menu > ul > li:hover a.waves-effect,
#sidebar-menu > ul > li.mm-active a.waves-effect {
  color: #fff;
  background-color: #6fb6f3 !important;
  border-color: #6fb6f3 !important;
}

#sidebar-menu > ul > li .nav-second-level li a,
#sidebar-menu > ul > li .nav-second-level li a .menu-arrow {
  color: #000 !important;
}

#sidebar-menu > ul > li a span {
  color: #fff !important;
}
#sidebar-menu > ul > li:hover i,
#sidebar-menu > ul > li.mm-active i {
  color: #fff;
  background-color: #31a0ff !important;
  border-right: #31a0ff !important;
}

#sidebar-menu > ul > li .nav-second-level {
  background-color: #72beff;
  border-color: #72beff;
  margin-top: -2px;
}
#sidebar-menu .menu-title {
  text-transform: initial;
  font-weight: 400;
}
#sidebar-menu>ul>li> .nav-second-level .active{
  color:#805f4c !important;
  font-weight: 600;
}
.enlarged .left-side-menu #sidebar-menu > ul > li > a {
  padding: 0px 0px;
  border: none !important;
  border-radius: 0px !important;
  min-height: 10px !important;
}
.enlarged .left-side-menu #sidebar-menu > ul > li > a i {
  margin-left: 0 !important;
}
.enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul {
  width: 270px !important;
}
.enlarged .navbar-custom {
  left: 90px;
}
.notification-list .noti-icon-badge {
  right: 1px;
}
.progressbar-content .progress {
  background-color: #bebebf;
}
.progressbar-content .progress-bar {
  background-color: #fff;
}
.progressbar-card {
  background-image: url("/vendor/pondit/themes/limitless/assets/login/img/AIMS.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 30%;
}
.g-2-g-bg {
  background-color: #0089ff;
}
.indent-bg {
  background-color: #006a4e;
}
.priority-bg {
  background-color: #805f4c;
}
.local-bg {
  background-color: #071c75;
}

.procurement-graph .card-body {
  padding: 0.5rem;
}

.procurement-graph .card-header:first-child {
  border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;
}
.rounded-card {
  border-radius: 20px !important;
}
.rounded-card .card-header {
  padding: 0.5rem 1rem;
}

h5.card-title {
  font-size: 20px !important;
}
.breadcrumb-item.active {
    color: #0089ff;
}
.footer {
  left: 350px;
}

.apexcharts-legend-text {
  color: #000 !important;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #006a4e;
  border-color: #006a4e;
}

.procurement-table thead {
  background-color: #006a4e;
  color: #fff;
}
.breadcrumb {
  padding: 25px 10px;
  color: #00976f;
}
.breadcrumb-item > a {
  color: #00976f;
  font-weight: 500;
  letter-spacing: 1px;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #00976f;
}

.table {
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 10px;
  text-align: center;
  color: #000b14 !important;
}

.table tr td {
  color: #000;
}

.table td,
.table th {
  white-space: nowrap;
  vertical-align: middle !important;
}

.table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
.table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

input.exchange-rate {
  width: 65px;
}

.upload-area {
  width: 60%;
  margin: 0 auto;
}
.button-radius {
  border-radius: 5px;
}
/* Responsive */

@media (min-width: 1367px) {
  /* .logo-box{
        width: 350px;
    }
    .left-side-menu{
        width: 350px;
    }
    .navbar-custom {
        left: 370px;
    }
    .content-page {
        margin-left: 350px;
    } */
}
@media (max-width: 1028px) {
  .navbar {
    left: 75px;
  }
  .navbar-custom {
    position: inherit;
    left: 85px;
    right: 30px;
    border-radius: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-custom {
    left: 10px;
    right: 20px;
  }
}
