body{
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    padding: 1rem 1.5rem;
    background-color: #0089ff;
    color: #fff;
    font-weight: bold;
    margin-right: 50px;
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 #aeb6e0;
    transition: 1s all;
}

a{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-decoration: none;
    color: #fff;
}

.box:hover {
    background-color: #006a4e;
 }


.bg-success{
   background-color: #006a4e !important;
}
 

.left-panel{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.left-panel-top, .left-panel-bottom{
    flex: 0 0 20%;
}
.left-panel-img{
    flex: 1;
    overflow: auto;
}
.left-panel-img img{
    width: 100%;
    height: 100%;
}
.form-control{
    background-color: #E9EFF6;
}

.practice{
    text-shadow:4px 3px 3px #d0acac;
    position: fixed;
    top: 10px;
    right: 25px;
}

.icon-list i{
    font-size: 50px;
    color: #805f4c;
}

.icon-list li{
    margin-right: 20px;
}

.login-head sup{
    top: -.75em !important;
}
.login-head sup i{
    font-size: 12px;
}